[submodule "modules/MSAgen"]
	path = modules/MSAgen
	url = https://github.com/mabl3/MSAgen.git
	branch = main
	update = merge
[submodule "modules/GeneLinkDraw"]
	path = modules/GeneLinkDraw
	url = https://github.com/mabl3/GeneLinkDraw.git
	branch = main
	update = merge
